body {
  background-color: #2D2D2D;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

.exercise-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 960px;
  margin: 50px auto;
  padding-bottom: 100px;
  justify-items: center;
  overflow-y: auto;
  max-height: calc(100vh - 250px);
}

.scroll-container {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: calc(60px + 3rem);
  height: calc(100vh - 50px - 15% - 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  padding: 20px;
}

.scroll-container > * {
  flex: 0 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
}


.scrollbar-thumb {
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, #6B0BFD 0%, #D400F1 100%);
  border-radius: 20px;
}
