body {
    background-color: #2D2D2D;
    margin: 0;
    font-family: 'Jost', sans-serif;
  }
  
  .exercise-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 960px;
    margin: 50px auto;
    padding-bottom: 100px;
    justify-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
  }
  
 
  .exercise-card {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 470px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
  
  .exercise-card::after {

    position: absolute;
    width: 475px;
    height: 410px;
    left: 92px;
    top: 423px;

    background: linear-gradient(180deg, rgba(26, 26, 26, 0.6) 0%, rgba(107, 11, 253, 0.6) 100%);
    border-radius: 40px;

  }
  

  .exercise-card-title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 500;
    z-index: 1;
  }
  

  .scrollbar {
    position: fixed;
    top: 423px;
    right: 15px;
    width: 15px;
    height: calc(100% - 423px);
    border-radius: 20px;
    background: rgba(77, 77, 77, 0.3);
  }
  
  .scrollbar-thumb {
    width: 100%;
    height: 25%;
    background: linear-gradient(180deg, #6B0BFD 0%, #D400F1 100%);
    border-radius: 20px;
  }
  

  .sidebar-gradient {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #4D4D4D 0%, rgba(77, 77, 77, 0.5) 37.24%, rgba(77, 77, 77, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .sidebar-gradient .icon {
    width: 100px;
    height: 100px;
    max-width: 270px;
    max-height: 270px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
  
  .sidebar-gradient .icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
  
  .sidebar-gradient .icon:hover {
    background-color: #6B5AF2;
  }
  